.seasonalSection{
    min-height: 100vh;
    overflow: hidden;
}
.typeSelection-container{
    cursor: pointer;
}
.type-container{
    height: 90vh;
}



.shopnow-btn{
    visibility: hidden;
    transition: transform 1s ease;
    transform: translate(0px , -50px);
}

.productCard:hover .shopnow-btn{
    visibility: visible;
    transform: translate(0px , -90px);
}